.imgcontainer{
    position: relative;
    height: 200px;
}
.row{
    height: 300px;
    padding: 25px 0;
}
.img-responsive-electronics{
    margin: auto;
    max-height: 200px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    max-width: 200px;
}
.name-electronics{
    text-align: center;
    top: 205px;
    left: 0;
    right: 0;
    position: absolute;
}
.price-electronics{
    text-align: center;
    top: 230px;
    left: 0;
    right: 0;
    position: absolute;
}
.details-electronics{
    text-align: center;
    top: 255px;
    left: 0;
    right: 0;
    position: absolute;
}
.carousel-control {
    position: absolute;
    top: 40px;
    bottom: 40px;
    left: 0;
    width: 5%;
    font-size: 20px;
    line-height: 1;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    background-color: rgba(255,255,255,1);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  .carousel-control:hover {
    color: #fff;
    text-decoration: none;
    filter: alpha(opacity=90);
    outline: 0;
    opacity: .9;
}
.right{
    left: auto;
  }
  .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    font-size: 30px;
}
.text{
    text-align: center;
}
.text>h2{
    line-height: 1.5;
    padding: 50px 0 25px 0;
}
.ad{
    width: 200px;
    padding: 10px 0;
    height: 325px;
}